@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  scrollbar-color: var(--scrollbar-thumb) transparent;
}

body {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display";
}
